{% extends 'base.html' %}

{% block content %}
    <h1>Home page</h1>
    <p>Это очень простой сайт где вы можете поймать покемона =)</p><br>
    <p>Каждый покемон может учавствовать в боях на арене. Бои происходят астоматически каждые 24 часа. Результаты можно посмотреть на странице арены.</p><br><br>

    <a class="font-medium text-red-600 hover:underline" href="{% url 'register' %}" >Зарегистрируйтесь</a>
    <p>если вы здесь первый раз или</p>
    <a class="font-medium text-red-600 hover:underline" href="{% url 'login' %}">
                Войдите
    </a>
    <p>если у вас есть аккаунт.</p>

{% endblock content %}